---
- name: Check if Docker is installed
  command: docker --version
  register: docker_installed
  ignore_errors: true

- name: Install Docker if missing
  apt:
    name: docker.io
    state: present
    update_cache: yes
  when: docker_installed.rc != 0

- name: Ensure Docker service is running
  service:
    name: docker       
    state: started
    enabled: yes
